body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
   overflow-x: hidden;
}
#wb_LayoutGrid7
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: rgba(251,252,136,0.94);
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid7
{
   box-sizing: border-box;
   padding: 5px 5px 5px 5px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1920px;
}
#LayoutGrid7 > .row
{
   margin-right: -5px;
   margin-left: -5px;
}
#LayoutGrid7 > .row > .col-1, #LayoutGrid7 > .row > .col-2, #LayoutGrid7 > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 5px;
   padding-left: 5px;
   position: relative;
}
#LayoutGrid7 > .row > .col-1, #LayoutGrid7 > .row > .col-2, #LayoutGrid7 > .row > .col-3
{
   float: left;
}
#LayoutGrid7 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 66.66666667%;
   text-align: left;
}
#LayoutGrid7 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 16.66666667%;
   text-align: left;
}
#LayoutGrid7 > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 16.66666667%;
   text-align: left;
}
#LayoutGrid7:before,
#LayoutGrid7:after,
#LayoutGrid7 .row:before,
#LayoutGrid7 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid7:after,
#LayoutGrid7 .row:after
{
   clear: both;
}
@media (max-width: 320px)
{
#LayoutGrid7 > .row > .col-1, #LayoutGrid7 > .row > .col-2, #LayoutGrid7 > .row > .col-3
{
   float: none;
   width: 100% !important;
}
}
#wb_LayoutGrid6
{
   clear: both;
   position: -webkit-sticky;
   position: sticky;
   top: 0;
   z-index: 7776;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #33C715;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid6
{
   box-sizing: border-box;
   padding: 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1920px;
}
#LayoutGrid6 > .row
{
   margin-right: 0;
   margin-left: 0;
}
#LayoutGrid6 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#LayoutGrid6 > .row > .col-1
{
   float: left;
}
#LayoutGrid6 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: left;
}
#LayoutGrid6:before,
#LayoutGrid6:after,
#LayoutGrid6 .row:before,
#LayoutGrid6 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid6:after,
#LayoutGrid6 .row:after
{
   clear: both;
}
@media (max-width: 320px)
{
#LayoutGrid6 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_LayoutGrid4
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   height: 100vh;
   background-color: transparent;
   background-image: url(images/Picture5.png);
   background-repeat: no-repeat;
   background-position: center top;
   background-attachment: scroll;
   background-size: cover;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid4
{
   box-sizing: border-box;
   height: 100vh;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   padding: 20px 0px 0px 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1024px;
}
#LayoutGrid4 > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 100px;
   padding-left: 100px;
   position: relative;
}
#LayoutGrid4 > .col-1
{
   -webkit-flex: 0 0 auto;
   flex: 0 0 auto;
}
#LayoutGrid4 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 100%;
   max-width: 100%;
   -webkit-align-self: center;
   align-self: center;
   -webkit-justify-content: center;
   justify-content: center;
   text-align: center;
}
@media (max-width: 320px)
{
#LayoutGrid4 > .col-1
{
   -webkit-flex-basis: 100% !important;
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#LayoutGrid4-overlay
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-color: #000000;
   opacity: 0;
}
#wb_LayoutGrid4:hover
{
   background-color: #FFFFFF;
   -webkit-transition: background-color 500ms linear 0ms;
   -moz-transition: background-color 500ms linear 0ms;
   transition: background-color 500ms linear 0ms;
}
#wb_reviews
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: rgba(189,203,24,0.41);
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#reviews
{
   box-sizing: border-box;
   padding: 10px 15px 10px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1920px;
}
#reviews > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#reviews > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#reviews > .row > .col-1
{
   float: left;
}
#reviews > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#reviews:before,
#reviews:after,
#reviews .row:before,
#reviews .row:after
{
   display: table;
   content: " ";
}
#reviews:after,
#reviews .row:after
{
   clear: both;
}
@media (max-width: 320px)
{
#reviews > .row > .col-1
{
   float: none;
   width: 100%;
}
}
#wb_CardContainer1
{
   background-color: #BDCB18;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   position: relative;
}
#CardContainer1
{
   display: -webkit-flex;
   display: flex;
   position: relative;
   padding: 10px 10px 10px 10px;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   -webkit-align-items: stretch;
   align-items: stretch;
   -webkit-align-content: flex-start;
   align-content: flex-start;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1920px;
   box-sizing: border-box;
   font-size: 0px;
}
@media all and (max-width:320px) 
{
#CardContainer1
{
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
}
}
#wb_LayoutGrid2
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #BDCB18;
   background-image: none;
   border: 0px solid #3C3C3C;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid2
{
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1920px;
}
#LayoutGrid2 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid2 > .row > .col-1, #LayoutGrid2 > .row > .col-2, #LayoutGrid2 > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid2 > .row > .col-1, #LayoutGrid2 > .row > .col-2, #LayoutGrid2 > .row > .col-3
{
   float: left;
}
#LayoutGrid2 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: center;
}
#LayoutGrid2 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: center;
}
#LayoutGrid2 > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: right;
}
#LayoutGrid2:before,
#LayoutGrid2:after,
#LayoutGrid2 .row:before,
#LayoutGrid2 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid2:after,
#LayoutGrid2 .row:after
{
   clear: both;
}
@media (max-width: 320px)
{
#LayoutGrid2 > .row > .col-1, #LayoutGrid2 > .row > .col-2, #LayoutGrid2 > .row > .col-3
{
   float: none;
   width: 100%;
}
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 15px 15px 15px 15px;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#TextArea2
{
   border: 0px solid #CCCCCC;
   background-color: #FFFFFF;
   background-image: none;
   color :#9C9C9C;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   box-sizing: border-box;
   padding: 4px 4px 4px 4px;
   margin: 0px 0px 15px 0px;
   text-align: left;
   overflow: auto;
   resize: none;
}
#TextArea2:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Button2
{
   line-height: 45px;
   text-align: center;
   text-decoration: none;
   vertical-align: top;
   border: 0px solid #2E6DA4;
   background-color: #F97352;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   -webkit-appearance: none;
   margin: 0px 0px 15px 0px;
}
#wb_Image2
{
   height: 100%;
   margin: 0;
   vertical-align: top;
}
#Image2
{
   border: 3px solid #000000;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: 100%;
   vertical-align: top;
   object-fit: cover;
}
#wb_Image2:hover
{
   opacity: 0.7;
   -webkit-transition: opacity 500ms linear 0ms;
   -moz-transition: opacity 500ms linear 0ms;
   transition: opacity 500ms linear 0ms;
}
#wb_Image2
{
   opacity: 1.0;
   -webkit-transition: opacity 500ms linear 0ms;
   -moz-transition: opacity 500ms linear 0ms;
   transition: opacity 500ms linear 0ms;
}
#wb_Card1
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 0%;
   flex-basis: 0%;
   -webkit-align-self: auto;
   align-self: auto;
   background-color: #31C815;
   background-image: none;
   border: 0px solid #000000;
   margin: 15px 15px 15px 15px;
   padding: 0;
   text-align: center;
}
#Card1-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#Card1-card-item0
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
}
#Card1-card-item1
{
   box-sizing: border-box;
   margin: 20px 20px -25px 20px;
   padding: 0;
   text-align: center;
}
#Card1-card-item1 h1
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 19px;
   margin: 0;
}
#Card1-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 20px 20px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 18.2px;
   text-align: center;
}
#Card1-card-item3
{
   display: inline-block;
   height: 24px;
   box-sizing: border-box;
   margin: 0;
   padding: 8px 0px 0px 14px;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
}
#Card1-card-item3 a
{
   color: #FFFFFF;
   text-decoration: none;
}
#Card1-card-item4
{
   box-sizing: border-box;
   margin: 25px 20px 20px 20px;
   padding: 10px 16px 10px 16px;
   color: #33C715;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
#wb_Card2
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 0%;
   flex-basis: 0%;
   -webkit-align-self: auto;
   align-self: auto;
   background-color: #31C815;
   background-image: none;
   border: 0px solid #000000;
   margin: 15px 15px 15px 15px;
   padding: 0;
   text-align: center;
}
#Card2-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#Card2-card-item0
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
}
#Card2-card-item1
{
   box-sizing: border-box;
   margin: 20px 20px -25px 20px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 19px;
   text-align: center;
}
#Card2-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 20px 20px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 18.2px;
   text-align: center;
}
#Card2-card-item3
{
   display: inline-block;
   height: 24px;
   box-sizing: border-box;
   margin: 0;
   padding: 8px 0px 0px 14px;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
}
#Card2-card-item3 a
{
   color: #FFFFFF;
   text-decoration: none;
}
#Card2-card-item4
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   color: #33C715;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
#wb_Card3
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 0%;
   flex-basis: 0%;
   -webkit-align-self: auto;
   align-self: auto;
   background-color: #31C815;
   background-image: none;
   border: 0px solid #000000;
   margin: 15px 15px 15px 15px;
   padding: 0;
   text-align: center;
}
#Card3-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#Card3-card-item0
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
}
#Card3-card-item1
{
   box-sizing: border-box;
   margin: 20px 20px -25px 20px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 19px;
   text-align: center;
}
#Card3-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 20px 20px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 18.2px;
   text-align: center;
}
#Card3-card-item3
{
   display: inline-block;
   height: 24px;
   box-sizing: border-box;
   margin: 0;
   padding: 8px 0px 0px 14px;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
}
#Card3-card-item3 a
{
   color: #FFFFFF;
   text-decoration: none;
}
#Card3-card-item4
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   color: #33C715;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
#wb_Heading13
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   box-sizing: border-box;
   margin: 0;
   padding: 5px 0px 10px 0px;
   text-align: center;
}
#Heading13
{
   color: #33C715;
   font-family: Arial;
   font-weight: bold;
   font-size: 48px;
   margin: 0;
   text-align: center;
}
#Heading13 a
{
   color: #33C715;
   text-decoration: none;
}
#YouTube1
{
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border-width: 0;
}
#wb_YouTube1
{
   display: block;
   position: relative;
   margin: 0;
   height: 441px;
   vertical-align: top;
}
#wb_ResponsiveMenu2
{
   display: block;
   font-family: Arial;
   font-weight: bold;
   text-align: left;
   width: 100%;
}
#ResponsiveMenu2
{
   background-color: #33C715;
   height: 67px;
}
#wb_ResponsiveMenu2 ul
{
   list-style: none;
   margin: 0;
   padding: 0;
   position: relative;
}
#wb_ResponsiveMenu2 ul:after
{
   clear: both;
   content: "";
   display: block;
}
#wb_ResponsiveMenu2 ul li
{
   background-color: #33C715;
   display: list-item;
   float: left;
   list-style: none;
   z-index: 9999;
}
#wb_ResponsiveMenu2 ul li i
{
   font-size: 24px;
   width: 24px;
}
#wb_ResponsiveMenu2 ul li a 
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   font-style: normal;
   padding: 15px 30px 15px 30px;
   text-align: center;
   text-decoration: none;
}
#wb_ResponsiveMenu2 > ul > li > a 
{
   height: 37px;
}
.ResponsiveMenu2 a 
{
   display: block;
}
#wb_ResponsiveMenu2 li a:hover, #wb_ResponsiveMenu2 li .active
{ 
   background-color: #CCCCCC;
   color: #424242;
}
#wb_ResponsiveMenu2 ul ul
{
   display: none;
   position: absolute;
   top: 67px;
}
#wb_ResponsiveMenu2 ul li:hover > ul
{
   display: list-item;
}
#wb_ResponsiveMenu2 ul ul li 
{
   background-color: #7A7A7A;
   color: #FFFFFF;
   float: none;
   position: relative;
   width: 317px;
}
#wb_ResponsiveMenu2 ul ul li a:hover, #wb_ResponsiveMenu2 ul ul li .active
{
   background-color: #CCCCCC;
   color: #424242;
}
#wb_ResponsiveMenu2 ul ul li i 
{
   margin-right: 8px;
   vertical-align: middle;
}
#wb_ResponsiveMenu2 ul ul li a 
{
   color: #FFFFFF;
   padding-top: 15px;
   padding-right: 20px;
   padding-bottom: 15px;
   text-align: left;
   vertical-align: middle;
}
#wb_ResponsiveMenu2 ul ul ul li 
{
   left: 317px;
   position: relative;
   top: -67px;
}
#wb_ResponsiveMenu2 .arrow-down 
{
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 2px;
   vertical-align: middle;
   border-top: 4px solid #FFFFFF;
   border-right: 4px solid transparent;
   border-left: 4px solid transparent;
   border-bottom: 0 dotted;
}
#wb_ResponsiveMenu2 .arrow-left 
{
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 4px;
   vertical-align: middle;
   border-left: 4px solid #FFFFFF;
   border-top: 4px solid transparent;
   border-bottom: 4px solid transparent;
   border-right: 0 dotted;
}
#wb_ResponsiveMenu2 li a:hover .arrow-down
{ 
   border-top-color: #424242;
}
#wb_ResponsiveMenu2 ul ul li a:hover .arrow-left, #wb_ResponsiveMenu2 ul ul li .active .arrow-left
{ 
   border-left-color: #424242;
}
#wb_ResponsiveMenu2 .toggle,[id^=ResponsiveMenu2-submenu]
{
   display: none;
}
@media all and (max-width:984px) 
{
#wb_ResponsiveMenu2 
{
   margin: 0;
   text-align: left;
}
#wb_ResponsiveMenu2 ul li a, #wb_ResponsiveMenu2 .toggle
{
   font-size: 13px;
   font-weight: bold;
   font-style: normal;
   padding: 15px 20px 15px 20px;
}
#wb_ResponsiveMenu2 .toggle + a
{
   display: none !important;
}
.ResponsiveMenu2 
{
   display: none;
   z-index: 9999;
}
#ResponsiveMenu2 
{
   background-color: transparent;
}
#wb_ResponsiveMenu2 > ul > li > a 
{
   height: auto;
}
#wb_ResponsiveMenu2 .toggle 
{
   display: block;
   background-color: #33C715;
   color: #FFFFFF;
   padding: 0px 20px 0px 20px;
   line-height: 54px;
   text-decoration: none;
   border: none;
   position: relative;
}
#wb_ResponsiveMenu2 .toggle:hover 
{
   background-color: #CCCCCC;
   color: #424242;
}
[id^=ResponsiveMenu2-submenu]:checked + ul 
{
   display: block !important;
}
#ResponsiveMenu2-title
{
   height: 67px;
   line-height: 67px !important;
   text-align: center;
}
#wb_ResponsiveMenu2 ul li 
{
   display: block;
   width: 100%;
   text-align: left;
}
#wb_ResponsiveMenu2 ul ul .toggle,
#wb_ResponsiveMenu2 ul ul a 
{
   padding: 0 40px;
}
#wb_ResponsiveMenu2 a:hover,
#wb_ResponsiveMenu2 ul ul ul a 
{
   background-color: #7A7A7A;
   color: #FFFFFF;
}
#wb_ResponsiveMenu2 ul li ul li .toggle,
#wb_ResponsiveMenu2 ul ul a 
{
   background-color: #7A7A7A;
   color: #FFFFFF;
}
#wb_ResponsiveMenu2 ul ul ul a 
{
   padding: 15px 20px 15px 60px;
}
#wb_ResponsiveMenu2 ul li a 
{
   text-align: left;
}
#wb_ResponsiveMenu2 ul li a br 
{
   display: none;
}
#wb_ResponsiveMenu2 ul li i 
{
   margin-right: 8px;
}
#wb_ResponsiveMenu2 ul ul 
{
   float: none;
   position: static;
}
#wb_ResponsiveMenu2 ul ul li:hover > ul,
#wb_ResponsiveMenu2 ul li:hover > ul 
{
   display: none;
}
#wb_ResponsiveMenu2 ul ul li 
{
   display: block;
   width: 100%;
}
#wb_ResponsiveMenu2 ul ul ul li 
{
   position: static;
}
#ResponsiveMenu2-icon 
{
   display: block;
   position: absolute;
   left: 30px;
   top: 21px;
}
#ResponsiveMenu2-icon span 
{
   display: block;
   margin-top: 4px;
   height: 2px;
   background-color: #FFFFFF;
   color: #FFFFFF;
   width: 24px;
}
#wb_ResponsiveMenu2 ul li ul li .toggle:hover
{
   background-color: #CCCCCC;
   color: #424242;
}
#wb_ResponsiveMenu2 .toggle .arrow-down 
{
   border-top-color: #FFFFFF;
}
#wb_ResponsiveMenu2 .toggle:hover .arrow-down, #wb_ResponsiveMenu2 li .active .arrow-down
{ 
   border-top-color: #424242;
}
#wb_ResponsiveMenu2 ul li ul li .toggle .arrow-down 
{
   border-top-color: #FFFFFF;
}
#wb_ResponsiveMenu2 ul li ul li .toggle:hover .arrow-down, #wb_ResponsiveMenu2 ul li ul li .active .arrow-down
{ 
   border-top-color: #424242;
}
}
#Editbox3
{
   border: 0px solid #CCCCCC;
   background-color: #FFFFFF;
   background-image: none;
   color :#9C9C9C;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   box-sizing: border-box;
   line-height: 17px;
   padding: 4px 4px 4px 4px;
   margin: 15px 0px 15px 0px;
   text-align: left;
}
#Editbox3:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#wb_Image7
{
   margin: 0;
   vertical-align: top;
}
#Image7
{
   border: 0px solid #000000;
   padding: 0;
   display: inline-block;
   width: 45px;
   height: 45px;
   vertical-align: top;
}
#Button1
{
   line-height: 40px;
   text-align: center;
   text-decoration: none;
   vertical-align: top;
   border: 0px solid #2E6DA4;
   background-color: transparent;
   background-image: none;
   color: #33C715;
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
   -webkit-appearance: none;
   margin: 0;
}
#Button8
{
   border: 0px solid #2E6DA4;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   -webkit-appearance: none;
   margin: 0;
}
#wb_Heading4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   margin: 0;
   padding: 10px 0px 0px 0px;
   text-align: left;
}
#Heading4
{
   color: #FFC000;
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
   margin: 0;
   text-align: left;
}
#SiteSearch1
{
   border: 1px solid #CCCCCC;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   box-sizing: border-box;
   line-height: 16px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
}
#Button6
{
   border: 1px solid #33C715;
   border-radius: 4px;
   background-color: #33C715;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   -webkit-appearance: none;
   margin: 0;
}
#wb_LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #31C815;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid1
{
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1920px;
}
#LayoutGrid1 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid1 > .row > .col-1, #LayoutGrid1 > .row > .col-2
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid1 > .row > .col-1, #LayoutGrid1 > .row > .col-2
{
   float: left;
}
#LayoutGrid1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 66.66666667%;
   text-align: center;
}
#LayoutGrid1 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: left;
}
#LayoutGrid1:before,
#LayoutGrid1:after,
#LayoutGrid1 .row:before,
#LayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid1:after,
#LayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 320px)
{
#LayoutGrid1 > .row > .col-1, #LayoutGrid1 > .row > .col-2
{
   float: none;
   width: 100% !important;
}
}
#wb_FontAwesomeIcon2
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 4px;
   text-align: center;
   margin: 10px 5px 0px 0px;
   padding: 2px 2px 2px 2px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_FontAwesomeIcon2:hover
{
   background-color: #EDE9E1;
   background-image: none;
   border: 0px solid #645E59;
}
#FontAwesomeIcon2
{
   height: 23px;
   width: 23px;
}
#FontAwesomeIcon2 i
{
   color: #0563C1;
   display: inline-block;
   font-size: 23px;
   line-height: 23px;
   vertical-align: middle;
   width: 18px;
}
#wb_FontAwesomeIcon2:hover i
{
   color: #E9FFFF;
}
#wb_FontAwesomeIcon3
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #EDE9E1;
   border-radius: 4px;
   text-align: center;
   margin: 10px 5px 0px 0px;
   padding: 2px 2px 2px 2px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_FontAwesomeIcon3:hover
{
   background-color: #EDE9E1;
   background-image: none;
   border: 0px solid #645E59;
}
#FontAwesomeIcon3
{
   height: 23px;
   width: 30px;
}
#FontAwesomeIcon3 i
{
   color: #FF0000;
   display: inline-block;
   font-size: 23px;
   line-height: 23px;
   vertical-align: middle;
   width: 20px;
}
#wb_FontAwesomeIcon3:hover i
{
   color: #645E59;
}
#wb_FontAwesomeIcon4
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #EDE9E1;
   border-radius: 4px;
   text-align: center;
   margin: 10px 5px 0px 0px;
   padding: 2px 2px 2px 2px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_FontAwesomeIcon4:hover
{
   background-color: #EDE9E1;
   background-image: none;
   border: 0px solid #645E59;
}
#FontAwesomeIcon4
{
   height: 23px;
   width: 23px;
}
#FontAwesomeIcon4 i
{
   color: #0563C1;
   display: inline-block;
   font-size: 23px;
   line-height: 23px;
   vertical-align: middle;
   width: 18px;
}
#wb_FontAwesomeIcon4:hover i
{
   color: #FFFFFF;
}
#wb_FontAwesomeIcon9
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #EDE9E1;
   border-radius: 4px;
   text-align: center;
   margin: 10px 5px 0px 0px;
   padding: 2px 2px 2px 2px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_FontAwesomeIcon9:hover
{
   background-color: #EDE9E1;
   background-image: none;
   border: 0px solid #645E59;
}
#FontAwesomeIcon9
{
   height: 23px;
   width: 23px;
}
#FontAwesomeIcon9 i
{
   color: #FF0000;
   display: inline-block;
   font-size: 23px;
   line-height: 23px;
   vertical-align: middle;
   width: 20px;
}
#wb_FontAwesomeIcon9:hover i
{
   color: #645E59;
}
#wb_Heading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   margin: 0;
   padding: 10px 0px 0px 0px;
   text-align: center;
}
#Heading1
{
   color: #FFC000;
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   margin: 0;
   text-align: center;
}
#ShareThis
{
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #CCCCCC;
}
#wb_ShareThisTitle
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   margin: 0;
   padding: 0;
   text-align: left;
}
#ShareThisTitle
{
   color: #4B4B4A;
   font-family: Arial;
   font-weight: bold;
   font-size: 32px;
   margin: 0;
   text-align: left;
}
#wb_ShareThisDescription 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_ShareThisDescription div
{
   text-align: left;
}
#wb_ShareThisGoogle
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#ShareThisGoogle
{
   border-width: 0;
   vertical-align: top;
}
#wb_ShareThisTwitter
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#ShareThisTwitter
{
   border-width: 0;
   vertical-align: top;
}
#wb_ShareThisPinterest
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#ShareThisPinterest
{
   border-width: 0;
   vertical-align: top;
}
#wb_ShareThisFaceBook
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#ShareThisFaceBook
{
   border-width: 0;
   vertical-align: top;
}
#wb_LogoFaceBook
{
   background-color: #3A579A;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0;
   padding: 10px 10px 10px 10px;
   vertical-align: top;
}
#wb_LogoFaceBook:hover
{
   background-color: #3A579A;
   background-image: none;
   border: 0px solid #245580;
}
#LogoFaceBook
{
   height: 24px;
   width: 27px;
}
#LogoFaceBook i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 24px;
   line-height: 24px;
   vertical-align: middle;
   width: 13px;
}
#wb_LogoFaceBook:hover i
{
   color: #FFFFFF;
}
#wb_LogoGoogle
{
   background-color: #438AD0;
   background-image: none;
   border: 0px solid #438AD0;
   text-align: center;
   margin: 0;
   padding: 10px 10px 10px 10px;
   vertical-align: top;
}
#wb_LogoGoogle:hover
{
   background-color: #438AD0;
   background-image: none;
   border: 0px solid #438AD0;
}
#LogoGoogle
{
   height: 24px;
   width: 27px;
}
#LogoGoogle i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 24px;
   line-height: 24px;
   vertical-align: middle;
   width: 19px;
}
#wb_LogoGoogle:hover i
{
   color: #FFFFFF;
}
#wb_LogoTwitter
{
   background-color: #00ABF1;
   background-image: none;
   border: 0px solid #00ABF1;
   text-align: center;
   margin: 0;
   padding: 10px 10px 10px 10px;
   vertical-align: top;
}
#wb_LogoTwitter:hover
{
   background-color: #00ABF1;
   background-image: none;
   border: 0px solid #00ABF1;
}
#LogoTwitter
{
   height: 24px;
   width: 27px;
}
#LogoTwitter i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 24px;
   line-height: 24px;
   vertical-align: middle;
   width: 21px;
}
#wb_LogoTwitter:hover i
{
   color: #FFFFFF;
}
#wb_LogoPinterest
{
   background-color: #CD1A1F;
   background-image: none;
   border: 0px solid #CD1A1F;
   text-align: center;
   margin: 0;
   padding: 10px 10px 10px 10px;
   vertical-align: top;
}
#wb_LogoPinterest:hover
{
   background-color: #CD1A1F;
   background-image: none;
   border: 0px solid #CD1A1F;
}
#LogoPinterest
{
   height: 24px;
   width: 27px;
}
#LogoPinterest i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 24px;
   line-height: 24px;
   vertical-align: middle;
   width: 19px;
}
#wb_LogoPinterest:hover i
{
   color: #FFFFFF;
}
#wb_ShareThisClose
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#wb_ShareThisClose:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#ShareThisClose
{
   height: 24px;
   width: 24px;
}
#ShareThisClose i
{
   color: #666666;
   display: inline-block;
   font-size: 24px;
   line-height: 24px;
   vertical-align: middle;
   width: 18px;
}
#wb_ShareThisClose:hover i
{
   color: #666666;
}
#wb_ShareThisClose
{
   position: absolute;
   left: 251px;
   top: 4px;
   width: 24px;
   height: 24px;
   text-align: center;
   z-index: 36;
}
#wb_LogoTwitter
{
   position: absolute;
   left: 173px;
   top: 124px;
   width: 27px;
   height: 24px;
   text-align: center;
   z-index: 34;
}
#wb_Card3
{
   display: flex;
   text-align: center;
   z-index: 10;
}
#wb_YouTube1
{
   display: inline-block;
   width: 100%;
   z-index: 7;
}
#wb_FontAwesomeIcon2
{
   display: inline-block;
   width: 23px;
   height: 23px;
   text-align: center;
   z-index: 23;
}
#Button6
{
   display: inline-block;
   width: 96px;
   height: 25px;
   z-index: 5;
}
#wb_ShareThisFaceBook
{
   position: absolute;
   left: 10px;
   top: 123px;
   width: 149px;
   height: 46px;
   z-index: 31;
}
#wb_ShareThisGoogle
{
   position: absolute;
   left: 10px;
   top: 184px;
   width: 149px;
   height: 46px;
   z-index: 28;
}
#Editbox3
{
   display: block;
   width: 100%;
   height: 25px;
   z-index: 18;
}
#wb_Heading13
{
   display: inline-block;
   width: 100%;
   z-index: 11;
}
#wb_Heading4
{
   display: inline-block;
   width: 285px;
   height: 25px;
   z-index: 3;
}
#wb_FontAwesomeIcon4
{
   display: inline-block;
   width: 23px;
   height: 23px;
   text-align: center;
   z-index: 24;
}
#Button8
{
   display: inline-block;
   width: 20px;
   height: 25px;
   z-index: 2;
}
#wb_Image2
{
   display: inline-block;
   width: 100%;
   height: auto;
   z-index: 17;
}
#wb_LogoPinterest
{
   position: absolute;
   left: 173px;
   top: 186px;
   width: 27px;
   height: 24px;
   text-align: center;
   z-index: 35;
}
#wb_LogoGoogle
{
   position: absolute;
   left: 10px;
   top: 186px;
   width: 27px;
   height: 24px;
   text-align: center;
   z-index: 33;
}
#ShareThis
{
   position: fixed;
   text-align: left;
   left: auto;
   right: 20px;
   top: auto;
   bottom: 20px;
   width: 338px;
   height: 231px;
   z-index: 43;
}
#wb_LogoFaceBook
{
   position: absolute;
   left: 10px;
   top: 124px;
   width: 27px;
   height: 24px;
   text-align: center;
   z-index: 32;
}
#ShareThisPinterest
{
   width: 149px;
   height: 46px;
}
#TextArea2
{
   display: block;
   width: 100%;
   height: 95px;
   z-index: 19;
}
#SiteSearch1
{
   display: block;
   width: 100%;
   height: 26px;
   z-index: 4;
}
#wb_FontAwesomeIcon9
{
   display: inline-block;
   width: 23px;
   height: 23px;
   text-align: center;
   z-index: 25;
}
#ShareThisFaceBook
{
   width: 149px;
   height: 46px;
}
#SiteSearch1_form
{
   display: inline;
}
#wb_Image7
{
   display: inline-block;
   width: 45px;
   height: 45px;
   z-index: 0;
}
#wb_ShareThisTwitter
{
   position: absolute;
   left: 173px;
   top: 123px;
   width: 149px;
   height: 46px;
   z-index: 29;
}
#ShareThisGoogle
{
   width: 149px;
   height: 46px;
}
#Button1
{
   display: inline-block;
   width: 270px;
   height: 40px;
   z-index: 1;
}
#Button2
{
   display: block;
   width: 100%;
   height: 45px;
   z-index: 20;
}
#ShareThisTwitter
{
   width: 149px;
   height: 46px;
}
#wb_ShareThisTitle
{
   position: absolute;
   left: 10px;
   top: 4px;
   width: 210px;
   height: 49px;
   z-index: 26;
}
#wb_Card1
{
   display: flex;
   text-align: center;
   z-index: 8;
}
#wb_ResponsiveMenu2
{
   display: inline-block;
   width: 920px;
   height: 69px;
   z-index: 6;
}
#wb_ShareThisPinterest
{
   position: absolute;
   left: 173px;
   top: 185px;
   width: 149px;
   height: 46px;
   z-index: 30;
}
#wb_ShareThisDescription
{
   position: absolute;
   left: 10px;
   top: 65px;
   width: 250px;
   height: 16px;
   z-index: 27;
}
#wb_Heading1
{
   display: inline-block;
   width: 100%;
   z-index: 22;
}
#wb_Card2
{
   display: flex;
   text-align: center;
   z-index: 9;
}
@media only screen and (max-width: 983px)
{
body
{
   background-color: #EDE9E1;
   background-image: none;
}
#wb_LayoutGrid7
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: rgba(251,252,136,0.94);
   background-image: none;
}
#wb_LayoutGrid7
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid7
{
   padding: 5px 5px 5px 5px;
}
#LayoutGrid7 .row
{
   margin-right: -5px;
   margin-left: -5px;
}
#LayoutGrid7 > .row > .col-1, #LayoutGrid7 > .row > .col-2, #LayoutGrid7 > .row > .col-3
{
   padding-right: 5px;
   padding-left: 5px;
}
#LayoutGrid7 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#LayoutGrid7 > .row > .col-2
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#LayoutGrid7 > .row > .col-3
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#wb_LayoutGrid6
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #33C715;
   background-image: none;
}
#wb_LayoutGrid6
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid6
{
   padding: 0;
}
#LayoutGrid6 .row
{
   margin-right: -0px;
   margin-left: -0px;
}
#LayoutGrid6 > .row > .col-1
{
   padding-right: 0px;
   padding-left: 0px;
}
#LayoutGrid6 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#wb_LayoutGrid4
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: url(images/Picture5.png);
   background-repeat: no-repeat;
   background-position: center center !important;
   background-attachment: scroll;
   background-size: cover;
}
#wb_LayoutGrid4
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid4
{
   padding: 20px 0px 5px 0px;
}
#LayoutGrid4 > .col-1
{
   padding-right: 10px;
   padding-left: 10px;
}
#LayoutGrid4 > .col-1
{
   display: block;
   -webkit-flex-basis: 100%;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   -webkit-align-self: center;
   align-self: center;
   -webkit-justify-content: center;
   justify-content: center;
   text-align: center;
}
#wb_reviews
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: rgba(189,203,24,0.41);
   background-image: none;
}
#wb_reviews
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#reviews
{
   padding: 10px 15px 10px 15px;
}
#reviews .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#reviews > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#reviews > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#wb_CardContainer1
{
   visibility: visible;
   display: block;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #BDCB18;
   background-image: none;
}
#wb_LayoutGrid2
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #BDCB18;
   background-image: none;
}
#wb_LayoutGrid2
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid2
{
   padding: 0px 15px 0px 15px;
}
#LayoutGrid2 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid2 > .row > .col-1, #LayoutGrid2 > .row > .col-2, #LayoutGrid2 > .row > .col-3
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid2 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#LayoutGrid2 > .row > .col-2
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#LayoutGrid2 > .row > .col-3
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: right;
}
#wb_Text1
{
   visibility: visible;
   display: block;
   background-color: transparent;
   background-image: none;
}
#wb_Text1
{
   margin: 0;
   padding: 15px 15px 15px 15px;
}
#TextArea2
{
   width: 100%;
   height: 105px;
   visibility: visible;
   display: block;
   color: #9C9C9C;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #FFFFFF;
   background-image: none;
   margin: 0px 0px 15px 0px;
   padding: 4px 4px 4px 4px;
   text-align: left;
}
#Button2
{
   width: 100%;
   height: 45px;
   visibility: visible;
   display: block;
   color: #FFFFFF;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #F97352;
   background-image: none;
   margin: 0px 0px 15px 0px;
}
#Button2
{
   line-height: 30px;
}
#wb_Image2
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 0;
}
#wb_Card1
{
   width: auto;
   height: auto;
   visibility: visible;
   display: flex;
   color: #FFFFFF;
   font-size: 16px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #31C815;
   background-image: none;
   margin: 15px 15px 15px 15px;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 0%;
   flex-basis: 0%;
   -webkit-align-self: auto;
   align-self: auto;
}
#Card1-card-item0
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   max-width: 240px;
   width: 100%;
   height: 150px;
}
#Card1-card-item1
{
   box-sizing: border-box;
   margin: 20px 20px -25px 20px;
   padding: 0;
   text-align: center;
}
#Card1-card-item1 h1
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 19px;
   margin: 0;
}
#Card1-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 20px 20px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 18.2px;
   text-align: center;
}
#Card1-card-item3
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
}
#Card1-card-item3 a
{
   color: #FFFFFF;
   text-decoration: none;
}
#Card1-card-item4
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   color: #33C715;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
#wb_Card2
{
   width: auto;
   height: auto;
   visibility: visible;
   display: flex;
   color: #FFFFFF;
   font-size: 16px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #31C815;
   background-image: none;
   margin: 15px 15px 15px 15px;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 0%;
   flex-basis: 0%;
   -webkit-align-self: auto;
   align-self: auto;
}
#Card2-card-item0
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   max-width: 240px;
   width: 100%;
   height: 150px;
}
#Card2-card-item1
{
   box-sizing: border-box;
   margin: 20px 20px -25px 20px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 19px;
   text-align: center;
}
#Card2-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 20px 20px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 18.2px;
   text-align: center;
}
#Card2-card-item3
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
}
#Card2-card-item3 a
{
   color: #FFFFFF;
   text-decoration: none;
}
#Card2-card-item4
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   color: #33C715;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
#wb_Card3
{
   width: auto;
   height: auto;
   visibility: visible;
   display: flex;
   color: #FFFFFF;
   font-size: 16px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #31C815;
   background-image: none;
   margin: 15px 15px 15px 15px;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 0%;
   flex-basis: 0%;
   -webkit-align-self: auto;
   align-self: auto;
}
#Card3-card-item0
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   max-width: 240px;
   width: 100%;
   height: 150px;
}
#Card3-card-item1
{
   box-sizing: border-box;
   margin: 20px 20px -25px 20px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 19px;
   text-align: center;
}
#Card3-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 20px 20px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 18.2px;
   text-align: center;
}
#Card3-card-item3
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
}
#Card3-card-item3 a
{
   color: #FFFFFF;
   text-decoration: none;
}
#Card3-card-item4
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   color: #33C715;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
#wb_Heading13
{
   width: 100%;
   visibility: visible;
   display: block;
   color: #33C715;
   font-size: 48px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   margin: 0;
   padding: 5px 0px 10px 0px;
}
#wb_Heading13
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   text-align: center;
}
#Heading13
{
   color: #33C715;
   font-family: Arial;
   font-weight: bold;
   font-size: 48px;
}
#Heading13 a
{
   color: #33C715;
}
#wb_YouTube1
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
}
#wb_ResponsiveMenu2
{
   width: 320px;
   height: 69px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   text-align: left;
}
#Editbox3
{
   width: 100%;
   height: 30px;
   visibility: visible;
   display: block;
   color: #9C9C9C;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #FFFFFF;
   background-image: none;
   margin: 15px 0px 15px 0px;
   padding: 4px 4px 4px 4px;
   text-align: left;
}
#Editbox3
{
   line-height: -8px;
}
#wb_Image7
{
   width: 45px;
   height: 45px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 0;
}
#Image7
{
   width: 45px;
   height: 45px;
}
#Button1
{
   width: 230px;
   height: 40px;
   visibility: visible;
   display: inline-block;
   color: #33C715;
   font-size: 16px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   margin: 0;
}
#Button1
{
   line-height: 40px;
}
#Button8
{
   width: 20px;
   height: 25px;
   visibility: visible;
   display: inline-block;
   color: #FFFFFF;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   margin: 0;
}
#wb_Heading4
{
   width: 285px;
   height: 20px;
   visibility: visible;
   display: inline-block;
   color: #33C715;
   font-size: 16px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   margin: 0;
   padding: 10px 0px 0px 0px;
}
#wb_Heading4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   text-align: left;
}
#Heading4
{
   color: #33C715;
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
}
#SiteSearch1
{
   width: 100%;
   height: 26px;
   visibility: visible;
   display: block;
   color: #000000;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #FFFFFF;
   background-image: none;
   border-radius: 4px;
   margin: 0;
   padding: 4px 4px 4px 4px;
   text-align: left;
}
#SiteSearch1
{
   width: 310px;
   height: 26px;
}
#Button6
{
   width: 96px;
   height: 25px;
   visibility: visible;
   display: inline-block;
   color: #FFFFFF;
   font-size: 13px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: #33C715;
   background-image: none;
   border-radius: 4px;
   margin: 0;
}
#wb_LayoutGrid1
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #31C815;
   background-image: none;
}
#wb_LayoutGrid1
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid1
{
   padding: 0px 15px 0px 15px;
}
#LayoutGrid1 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid1 > .row > .col-1, #LayoutGrid1 > .row > .col-2
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid1 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#LayoutGrid1 > .row > .col-2
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#wb_FontAwesomeIcon2
{
   width: 23px;
   height: 23px;
   visibility: visible;
   display: inline-block;
   color: #0563C1;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #FFFFFF;
   background-image: none;
   border-radius: 4px;
   margin: 10px 5px 0px 0px;
   padding: 2px 2px 2px 2px;
}
#FontAwesomeIcon2
{
   width: 23px;
   height: 23px;
}
#FontAwesomeIcon2 i
{
   line-height: 23px;
   font-size: 23px;
   width: 18px;
}
#wb_FontAwesomeIcon3
{
   width: 30px;
   height: 23px;
   visibility: visible;
   display: inline-block;
   color: #FF0000;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #FFFFFF;
   background-image: none;
   border-radius: 4px;
   margin: 10px 5px 0px 0px;
   padding: 2px 2px 2px 2px;
}
#FontAwesomeIcon3
{
   width: 30px;
   height: 23px;
}
#FontAwesomeIcon3 i
{
   line-height: 23px;
   font-size: 23px;
   width: 20px;
}
#wb_FontAwesomeIcon4
{
   width: 23px;
   height: 23px;
   visibility: visible;
   display: inline-block;
   color: #0563C1;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #FFFFFF;
   background-image: none;
   border-radius: 4px;
   margin: 10px 5px 0px 0px;
   padding: 2px 2px 2px 2px;
}
#FontAwesomeIcon4
{
   width: 23px;
   height: 23px;
}
#FontAwesomeIcon4 i
{
   line-height: 23px;
   font-size: 23px;
   width: 18px;
}
#wb_FontAwesomeIcon9
{
   width: 23px;
   height: 23px;
   visibility: visible;
   display: inline-block;
   color: #FF0000;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #FFFFFF;
   background-image: none;
   border-radius: 4px;
   margin: 10px 5px 0px 0px;
   padding: 2px 2px 2px 2px;
}
#FontAwesomeIcon9
{
   width: 23px;
   height: 23px;
}
#FontAwesomeIcon9 i
{
   line-height: 23px;
   font-size: 23px;
   width: 20px;
}
#wb_Heading1
{
   width: 100%;
   visibility: visible;
   display: block;
   color: #FFC000;
   font-size: 13px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   margin: 0;
   padding: 10px 0px 0px 0px;
}
#wb_Heading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   text-align: center;
}
#Heading1
{
   color: #FFC000;
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
}
}
